/obj/project.nuget.cache
/obj/Debug/net8.0/CLITaskManager.AssemblyInfoInputs.cache
/obj/Debug/net8.0/CLITaskManager.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/CLITaskManager.csproj.AssemblyReference.cache
/obj/Debug/net8.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/rider.project.restore.info
/obj/CLITaskManager.csproj.nuget.g.props
/obj/project.packagespec.json
/obj/Debug/net8.0/CLITaskManager.GlobalUsings.g.cs
/obj/CLITaskManager.csproj.nuget.g.targets
/CLITaskManager.csproj
/obj/project.assets.json
/obj/CLITaskManager.csproj.nuget.dgspec.json
/obj/Debug/net8.0/CLITaskManager.assets.cache
/obj/Debug/net8.0/CLITaskManager.AssemblyInfo.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/CLITaskManager.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/CLITaskManager.csproj.FileListAbsolute.txt
/bin/Debug/net8.0/CLITaskManager.deps.json
/bin/Debug/net8.0/CLITaskManager.dll
/obj/Debug/net8.0/ref/CLITaskManager.dll
/obj/Debug/net8.0/refint/CLITaskManager.dll
/obj/Debug/net8.0/CLITaskManager.dll
/bin/Debug/net8.0/CLITaskManager.exe
/obj/Debug/net8.0/CLITaskManager.genruntimeconfig.cache
/bin/Debug/net8.0/CLITaskManager.pdb
/obj/Debug/net8.0/CLITaskManager.pdb
/bin/Debug/net8.0/CLITaskManager.runtimeconfig.json
/bin/Debug/net8.0/
/obj/Debug/net8.0/