/obj/project.nuget.cache
/obj/Debug/net7.0/CLITaskManager.AssemblyInfoInputs.cache
/obj/Debug/net7.0/CLITaskManager.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/CLITaskManager.csproj.AssemblyReference.cache
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/rider.project.restore.info
/obj/CLITaskManager.csproj.nuget.g.props
/obj/project.packagespec.json
/obj/Debug/net7.0/CLITaskManager.GlobalUsings.g.cs
/obj/CLITaskManager.csproj.nuget.g.targets
/CLITaskManager.csproj
/obj/project.assets.json
/obj/CLITaskManager.csproj.nuget.dgspec.json
/obj/Debug/net7.0/CLITaskManager.assets.cache
/obj/Debug/net7.0/CLITaskManager.AssemblyInfo.cs
